.env
.env.sample
.src/routes/routes.txt

.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules/
jspm_packages/
package-lock.json (Optional: some prefer to keep it, but often ignored in teams)

.DS_Store
Thumbs.db
desktop.ini

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 6. BUILD & TEMP FILES
dist/
build/
.cache/
tmp/

public/temp/
backend/public/temp/